/* CSS Document */
#dash { width: 50%; height: auto; display:block; background-color:#0099FF; color:#FFFFFF; margin-left: 30px; border: 2px solid; padding-left: 20px; font-size:18px;}
#addform, #viewform {margin-left: 50px;}
a {color: white; text-decoration: none;}
a:hover { color:#CCCCCC;}
.error {color: red;}
.goback {color: #0099FF; font-size: 20px;}
.success {color:#00CC00; margin-left: 50px;}
.count {font-weight: bold; margin-left: 50px;}
#results {margin-top: 30px;}
.higlighted {color: #FFFF00;}
table {
    border-collapse: collapse;
    width: 75%;
    margin-left: 50px;
}

th, td {
    text-align: center;
    padding: 4px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #0099FF;
    color: white;
}